# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
aiohttp=3.8.0=pypi_0
aiosignal=1.2.0=pypi_0
altgraph=0.17.2=pypi_0
async-timeout=4.0.0=pypi_0
asynctest=0.13.0=pypi_0
attrs=21.2.0=pypi_0
autobahn=21.3.1=pypi_0
automat=20.2.0=pypi_0
ca-certificates=2021.10.8=h5b45459_0
cacheout=0.13.1=pypi_0
cffi=1.15.0=pypi_0
charset-normalizer=2.0.7=pypi_0
click=7.1.2=pypi_0
constantly=15.1.0=pypi_0
cryptography=35.0.0=pypi_0
cycler=0.11.0=pypi_0
frozenlist=1.2.0=pypi_0
future=0.18.2=pypi_0
hyperlink=21.0.0=pypi_0
idna=3.3=pypi_0
importlib-metadata=4.8.1=pypi_0
incremental=21.3.0=pypi_0
kiwisolver=1.3.2=pypi_0
matplotlib=3.4.3=pypi_0
mpmath=1.2.1=pypi_0
multidict=5.2.0=pypi_0
numpy=1.21.3=pypi_0
opencv-python=4.5.4.58=pypi_0
openssl=3.0.0=h8ffe710_1
pefile=2021.9.3=pypi_0
pillow=8.4.0=pypi_0
pip=21.3.1=pyhd8ed1ab_0
pycparser=2.20=pypi_0
pydicom=2.2.2=pypi_0
pyinstaller=4.6=pypi_0
pyinstaller-hooks-contrib=2021.3=pypi_0
pyparsing=3.0.4=pypi_0
pyqt5=5.15.4=pypi_0
pyqt5-plugins=5.15.4.2.2=pypi_0
pyqt5-qt5=5.15.2=pypi_0
pyqt5-sip=12.9.0=pypi_0
pyqt5-tools=5.15.4.3.2=pypi_0
python=3.7.12=h900ac77_100_cpython
python-dateutil=2.8.2=pypi_0
python-dotenv=0.19.1=pypi_0
python_abi=3.7=2_cp37m
pywin32-ctypes=0.2.0=pypi_0
qt5-applications=5.15.2.2.2=pypi_0
qt5-tools=5.15.2.1.2=pypi_0
setuptools=58.4.0=py37h03978a9_1
six=1.16.0=pypi_0
sqlite=3.36.0=h8ffe710_2
sympy=1.9=pypi_0
twisted=21.7.0=pypi_0
twisted-iocpsupport=1.0.2=pypi_0
txaio=21.2.1=pypi_0
typing-extensions=3.10.0.2=pypi_0
ucrt=10.0.20348.0=h57928b3_0
vc=14.2=hb210afc_5
vs2015_runtime=14.29.30037=h902a5da_5
vtk=9.0.3=pypi_0
wheel=0.37.0=pyhd8ed1ab_1
wslink=1.1.0=pypi_0
yarl=1.7.2=pypi_0
zipp=3.6.0=pypi_0
zope-interface=5.4.0=pypi_0
